<!DOCTYPE html>
<body>
	<form action="/ind" method="post">
		<button type="submit">View</button>
	</form>
	<form action="/add" method="get">
		<button type="submit">Add</button>
	</form>
	

</body>